* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav div img {
  width: 140px;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
  margin-top: 20px;
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  padding: 15px;
  border-radius: 25px;
  color: white;
}
nav li a {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}
nav li:nth-child(4) {
  background: white;
  color: black;
  font-family: Fraunces;
  text-transform: uppercase;
}
nav li:nth-child(4):hover {
  background-color: hsla(209, 100%, 78%, 0.719);
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
}

.hero div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;
  height: 400px;
}

.hero h1 {
  font-size: 120px;
  color: white;
}

.hero img {
  height: 150px;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature img {
  width: 100%;
  height: 100%;
}
.feature .pictureless {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature .pictureless .wrapper {
  width: 78%;
  font-size: 2rem;
}
.feature .pictureless h2 {
  font-size: 5rem;
}
.feature .pictureless p {
  margin: 40px 0px;
}
.feature .pictureless a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 25px;
  font-family: Fraunces;
  cursor: pointer;
}
.feature .pictureless .wrapper .line {
  position: relative;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 15px;
  border-radius: 20px;
  z-index: -1;
}
.feature .pictureless .wrapper .yellow {
  background-color: hsla(51, 100%, 49%, 0.35);
}

.feature .pictureless .wrapper .red {
  background-color: hsla(7, 99%, 70%, 0.35);
}

.feature .pictureless a:hover .yellow {
  background-color: hsla(51, 100%, 49%);
}
.feature .pictureless a:hover .red {
  background-color: hsla(7, 99%, 70%);
}

.feature .picture {
  position: relative;
}
.feature .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
  font-size: 1.75rem;
  text-align: center;
  width: 58%;
}

.feature .overlay h2 {
  font-family: Fraunces;
}

.feature .overlay p {
  margin-top: 40px;
}

.feature .overlay .graphic {
  color: hsla(167, 40%, 24%);
}

.feature .overlay .photo {
  color: hsl(198, 62%, 26%);
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 140dvh;
}

.review h3 {
  font-size: 3rem;
  font-family: Fraunces;
  text-transform: uppercase;
  color: hsl(210, 4%, 67%);
  margin-bottom: 6rem;
  letter-spacing: 0.75rem;
}

.review .clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 0px 4rem;
  text-align: center;
}

.review .clients .client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review .client img {
  border-radius: 50%;
}
.review .client .description {
  font-size: 2rem;
  margin: 4rem 0px;
}

.review .credit .author {
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
  font-family: Fraunces;
}

.review .credit .job {
  font-size: 1.5rem;
  font-family: Barlow;
  color: hsl(210, 4%, 67%);
}

.footer .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer .gallery img {
  max-width: 100%;
}

.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(168, 42%, 56%, 0.678);
  height: 32rem;
}

.footer .logo {
  width: 100%;
  height: 3rem;
}

.footer .links .link {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  font-size: 1.5rem;
  color: #2c7566;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.footer .links .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 17rem;
  height: 5rem;
  fill: #2c7566;
}

.footer .links .social svg {
  width: 50%;
  height: 30%;
}

.footer a:hover,
.footer .social svg:hover {
  color: white;
  fill: white;
  cursor: pointer;
}
